*{
 box-sizing:border-box;
}



body{
 background-color:lightgrey;
}

.navbar{
  background-color:white;
  width:100%;
  padding:14px;
  position:fixed;
  top:0;
  left:0;
}

.navbar a{
 color:grey;
}
.content{
  background:white;
  height:550px;
  width:99%;
  margin:0 auto;
  border-radius:10px;
  
}

.content img{
  margin:0 auto;
  width:100%;
  height:300px;

}

.cont{
  display:flex;
  gap:5px;

}

.column{
  flex:1;
  width:30%;
  background:white;
  height:150px;
  border-radius:10px;
  margin-top:5px;
}

.veg{
  background:white;
  height:600px;
  width:100%;
  margin-top:5px;
  border-radius:10px;
}

.veg input{
  width:95%;
  padding:7px;
  border-radius:10px;
  border:2px solid lightgrey;
}

.market{
  display:flex;
  gap:2px;

}

.col{
  flex:1;
  width:30%;
  background:white;
  height:120px;
  margin:10px;
  border-radius:10px;
  border:2px solid lightgrey;
}

.set{
  display:flex;
  gap:2px;

}

.colon{
  flex:1;
  width:30%;
  background:white;
  height:120px;
  margin:10px;
  border-radius:10px;
  border:2px solid lightgrey;
}

.some{
  display:flex;
  gap:2px;

}

.colux{
  flex:1;
  width:30%;
  background:white;
  height:120px;
  margin:10px;
  border-radius:10px;
  border:2px solid lightgrey;
}